@font-face {
    font-family: Norwester;
    src: url(../Fonts/norwester.otf);
}

html, body, {
	margin: 0px;
	padding: 0px;
	border: 0px;
    min-width: 1800px;
}

body {
    min-width: 1050px;
}

.title {
    height: 150px; 
    width: 100%; 
    max-width: 2560px;
    position: relative; 
    margin-bottom: -7px;
    top: 120px;
    -webkit-transform: translate3d(0,0,0);
}

.header h2 {
	position: absolute;
    font-family: 'Norwester', Arial, sans-serif;
	font-size: 3.6em;
	color: #fff; 
	margin-left: 50%;
    margin-top: 170px;
  	left: -265px;
    z-index: 1000;
    -webkit-transform: translate3d(0,0,0);
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

.header {
    height: 530px;
    position: relative;
}

.header > div {
  position: fixed;
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: right -50px;
}

.clear {
    background: url(../Images/rake-bg.jpg);
}

.blur {
    background: url(../Images/rake-bg-blur.jpg);
}

@media (max-width: 1050px) {

    .header > div {
        position: fixed;
        width: 100%;
        height: 480px;
        background-repeat: no-repeat;
        background-size: 1200px 780px;
        background-position: right -50px;
        
    }

}