html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #363636;
}

/************/

.background {
  background: url(../Images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/************/

.grid {
	position: relative;
	margin: 0 auto;
    width: calc(100% - 40px);
    height: calc(100% - 75px);
	padding-top: 75px;
	list-style: none;
	text-align: center;
}

.grid a {
	text-decoration: none;
}

.tile {
	position: relative;
	display: inline-block;
	overflow: hidden;
    width: 25%;
    height: 50%;
	text-align: center;
    margin: -2px;
	cursor: pointer;
    transition: background 0.3s;
    /** background: rgba(52,73,95,0.75); **/
}

.tile:hover {
    background: rgba(52,73,95,1);
    -webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.tile img {
	position: relative;
    max-width: 15vw;
    max-height: 11vw;
    margin: 0 auto;
    /** -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3)); **/
    /** filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3)); **/
}

.projectwrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.projectinfo {
    margin: 0 auto;
}

.tiletext h2 {
    display: inline;
    font-size: 1.25em;
    line-height: 1em;
    font-family: 'Poppins';
    font-weight: 800 !important;
    color: #fff;
    text-transform: uppercase;
    margin-top: 177px;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

.tiletext p {
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Poppins';
    font-weight: 800 !important;
    color: #1DD1A1;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

.tiletext p span {
    color: #FFBB2E;
}

.tiletext h3 {
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'Roboto';
    color: #ea9c40;
    text-transform: uppercase;
    margin-top: -3px;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1150px) {
.tile {
    width: 33.33%;
    height: 40%;
}
.tile img {
    max-width: 16vw;
    max-height: 18vw;

}
}

@media only screen and (orientation: portrait) {
.tile {
    height: 25%;
}
.tile img {
    max-width: 16vw;
    max-height: 16vw;

}
}
