body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.border {
    border: 20px solid white;
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/************/

.border-bottom {
	background: white;
    position: fixed;
	z-index: 10001;
    width: 100%;
    height: 20px;
    bottom: 0%;
}

.navigation {
	position: fixed;
	top: 0px;
    bottom: 0px;
	z-index: 10001;
    width: 100%;
    height: 70px;
}

/************/

.navigation-expanded {
    background-color: white;
    padding: 20px 20px 0px 20px;
    height: 55px;
    position: fixed;
    width: -webkit-fill-available;
}

.navigation-expanded img {
    display: inline-block;
}

.navigation-expanded ul {
    list-style: none;
    margin-top: -34px;
}

.navigation-expanded li a {
    float: right;
    padding-left: 30px;
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.0em;
	font-family: 'Poppins', Arial, sans-serif;
    font-weight: 800;
}

.navigation-expanded li a span {
	color: #1DD1A1;
}

.navigation-expanded li a:hover {
    color: #1DD1A1;
    -webkit-transition:.2s;
    transition:.2s;
}