.white {
    height: 960px;
    background-color: #f9f9f9;
    z-index: 150;
    margin-top: -200px;
    padding-top: 110px;
    
    -webkit-clip-path: polygon(50% 5.5%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 90.5%, 45% 85%, 0 85%, 0 0, 45% 0);
    clip-path: polygon(50% 5.5%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 90.5%, 45% 85%, 0 85%, 0 0, 45% 0);
}

.grey {
    height: 960px;
    background-color: #efefef;
    z-index: 150;
    margin-top: -200px;
    padding-top: 110px;
    
    -webkit-clip-path: polygon(50% 5.5%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 90.5%, 45% 85%, 0 85%, 0 0, 45% 0);
    clip-path: polygon(50% 5.5%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 90.5%, 45% 85%, 0 85%, 0 0, 45% 0);
}

.last {
    height: 890px;
    background-color: #f9f9f9;
    z-index: 140;
    margin-top: -200px;
    padding-top: 110px;
    
    -webkit-clip-path: polygon(50% 5.5%, 55% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0, 45% 0);
    clip-path: polygon(50% 5.5%, 55% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0, 45% 0);
}

.images {
    width: 100%;
    text-align: center;
}

.images img {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate3d(0,0,0);
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.15));
	filter: url(shadow.svg#drop-shadow);
}

.text {
    position: relative; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    -webkit-transform: translate3d(0,0,0);
    margin-top: 40px;
}

.text h3 {
	position: relative;
	display: block;
    text-align: center;
	font-size: 2.0em;
	font-family: 'Norwester', Arial, sans-serif;
	color: #363636; 
    margin-bottom: 13px;
    margin-top: 90px;
    -webkit-transform: translate3d(0,0,0);
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

.text h2 {
	position: relative;
	display: block;
    text-align: center;
	font-size: 2.0em;
	font-family: 'Norwester', Arial, sans-serif;
	color: #363636; 
    margin-bottom: 13px;
    -webkit-transform: translate3d(0,0,0);
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

.text p {
	position: relative;
	display: block; 
	text-align: center;
	font-size: 1.0em;
	font-family: 'Roboto', Arial, sans-serif;
	color: #363636;
    margin-top: 0px;
    -webkit-transform: translate3d(0,0,0);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.text hr {
    width:75px; 
    opacity: 1; 
    height: 2px;
    border: none;
    background-color: #363636;
    margin-bottom: 12px;
}

.slideshow img {
	width: 320px;
    -webkit-transform: translate3d(0,0,0);
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.15));
	filter: url(shadow.svg#drop-shadow);
    margin-bottom: 20px;
    margin-left: 245px;
}

.wrap {
    margin: auto;
    width: 812px;
}

#tall {
    -webkit-clip-path: polygon(50% 4.5%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 89.5%, 45% 85%, 0 85%, 0 0, 45% 0);
    clip-path: polygon(50% 4.5%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 89.5%, 45% 85%, 0 85%, 0 0, 45% 0);
}

#short {
    -webkit-clip-path: polygon(50% 6.0%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 91.0%, 45% 85%, 0 85%, 0 0, 45% 0);
    clip-path: polygon(50% 6.0%, 55% 0, 100% 0, 100% 85%, 55% 85%, 50% 91.0%, 45% 85%, 0 85%, 0 0, 45% 0);
}