#aboutme {
    height: 98px;
}

.aboutme {
    height: 610px;
    background-color:rgba(255, 255, 255, 0.1);
    margin-left: 42px;
    margin-right: 42px;
    padding-top: 100px;
    border-radius: 3px;
}

.aboutme img {
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
    opacity: 0.95;
    -webkit-transform: translate3d(0,0,0);
}

.text {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 635px;
    -webkit-transform: translate3d(0,0,0);
}

.text h2 {
	position: relative;
	display: block;
  text-align: center;
	font-size: 2.0em;
	font-family: 'Poppins', Arial, sans-serif;
  font-weight: 800 !important;
	color: #fff;
  margin-top: 40px;
  margin-bottom: 4px;
  text-transform: uppercase;
  -webkit-transform: translate3d(0,0,0);
  font-weight:normal;
  -webkit-font-smoothing: antialiased;
}

.text span {
    vertical-align: -5px;
}

.text p {
	position: relative;
	display: block;
	text-align: center;
	font-size: 1.0em;
  line-height: 1.25em;
	font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300 !important;
	color: #fff;
  margin-top: 0px;
  -webkit-transform: translate3d(0,0,0);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.text hr {
    width:75px;
    opacity: 1;
    height: 2px;
    border: none;
    background-color: #fff;
    margin-bottom: 15px;
}
