.circle {
	position: relative;
	overflow: visible;
	margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 530px;
    height: 530px;
	text-align: center;
    background: rgba(255,255,255,0.0);
    transition: background 0.3s;
    border-radius: 50%;
    cursor: pointer;
}

.circle:hover {
    background: rgba(255,255,255,0.1);
    -webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.circle img {
	position: absolute;
	display: block;
    width: 325px;
    left: 50%;
    margin-left: -162px;
    margin-top: 70px;
    -webkit-filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.3));
	filter: url(shadow.svg#drop-shadow);
}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}

.caption {
	position: absolute;
    margin-left: 95px;
    margin-top: 355px;
}

.caption h2{
	text-align: center;
	font-size: 2.0em;
	font-family: 'Poppins', Arial, sans-serif;
    font-weight: 800 !important;
	color: #fff; 
    margin-bottom: 10px;
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

.caption p {
	text-align: center;
	font-size: 1.05em;
    line-height: 1.25em;
	font-family: 'Poppins', Arial, sans-serif;
    font-weight: 300 !important;
	color: #fff;
    margin-top: 10px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.caption span {
	font-size: 0.5em;
	font-family: 'Norwester', Arial, sans-serif;
	color: #fff; 
    vertical-align: 40%;
}

.caption hr {
    width:75px; 
    opacity: 1; 
    height: 2px;
    border: none;
    background-color: #fff;
    margin-bottom: 15px;
}

.contact {
    height: 400px;
    background-color:rgba(255, 255, 255, 0.1);
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 42px;
    padding-top: 210px; 
    text-align: center;
    border-radius: 3px;
}

.contact img {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 55px;
    padding: 0px 4px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* -webkit-transition : -webkit-filter .2s linear; */
}

.contact img:hover {
    opacity: 0.6;
    /* -webkit-filter: brightness(0.45); filter: brightness(0.45); */
    
}