
/***** GREYSCALE HOVER  *****/

.greyscale { /* Universal settings */
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
}

.greyscale:not(:hover) {
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    -ms-filter:grayscale(100%);
    -o-filter:grayscale(100%);
    filter:grayscale(100%);
}

greyscale:hover {
    -webkit-filter:grayscale(0%);
    -moz-filter:grayscale(0%);
    -ms-filter:grayscale(0%);
    -o-filter:grayscale(0%);
    filter:grayscale(0%);
}
/*******************************/

.text0 h3 {
	text-decoration: none;
	font-weight: 200;
	font-size: 2.6em;
	font-family: 'Lato', Arial, sans-serif;
	letter-spacing: 5px;
	color: #fff; 
	top: 150px;
	text-align: center;
	padding-top: 100px;
	margin-left: 50%;
  	margin-right: 1%;
}

.text0 p {
	text-decoration: none;
	font-weight: 200;
	font-size: 1.4em;
	font-family: 'Lato', Arial, sans-serif;
	color: #fff; 
	top: 150px;
	text-align: justify;
	padding-top: 40px;
	margin-left: 58%;
  	margin-right: 9%;
}