.aboutme {
    height: 600px;
    background-color:rgba(255, 255, 255, 0.1);
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 90px;
    border-radius: 3px;
}

.aboutme img {
    position: relative; 
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
    -webkit-transform: translate3d(0,0,0);
}

.text {
    position: relative; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    -webkit-transform: translate3d(0,0,0);
}

.text h2 {
	position: relative;
	display: block;
    text-align: center;
	font-size: 2.0em;
	font-family: 'Norwester', Arial, sans-serif;
	color: #fff; 
    margin-bottom: 15px;
    -webkit-transform: translate3d(0,0,0);
    font-weight:normal;
    -webkit-font-smoothing: antialiased;
}

.text p {
	position: relative;
	display: block; 
	text-align: center;
	font-size: 1.2em;
	font-family: 'Roboto', Arial, sans-serif;
	color: #fff;
    margin-top: 0px;
    -webkit-transform: translate3d(0,0,0);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

.text hr {
    width:75px; 
    opacity: 1; 
    height: 2px;
    border: none;
    background-color: #fff;
    margin-bottom: 12px;
}