@font-face{
	font-family:'FontAwesome';
	src:url('font-awesome-4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
	src:url('font-awesome-4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
		url('font-awesome-4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
		url('font-awesome-4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
		url('font-awesome-4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'FontAwesome';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

.hi-icon-email:before {
	content: "\f0e0";
}

.hi-icon-phone:before {
	content: "\f095";
}

.hi-icon-facebook:before {
	content: "\f09a";
}

.hi-icon-linkedin:before {
	content: "\f0e1";
}

.hi-icon-refresh:before {
	content: "\e007";
}

/* Effect 2 */
.hi-icon-effect-2 .hi-icon {
	color: #ffc107;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	text-decoration: none;
}

.hi-icon-effect-2 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	text-decoration: none;
}

/* Effect 2b */
.hi-icon-effect-2b .hi-icon:hover:after {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
	-moz-transition: -moz-transform 0.4s, opacity 0.2s;
	transition: transform 0.4s, opacity 0.2s;
}

.hi-icon-effect-2b .hi-icon:hover {
	color: #fff;
}


/* TITLE */
.contact-title {
	text-decoration: none;
	letter-spacing: 10px;
	font-weight: 200;
	font-size: 2.6em;
	font-family: 'Lato', Arial, sans-serif;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 20px #000000;
}

