div.slidecontainer {
	position: absolute;
	height: 630px;
	width: 100%;
	max-width:2560px;
	z-index: 20;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 15;
}

.title a {
	position: relative;
	top: 290px;
	height: 0px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-weight: 200;
	font-size: 2.5em;
	font-family: 'Lato', Arial, sans-serif;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
    width: 50%;
    z-index: 22;
    display: block;
}

.overlay {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transition-delay: .6s; 
	transition-delay: .6s; 
}

.overlay:hover {
	opacity: 0;
	-webkit-transition-delay: 0s; 
	transition-delay: 0s; 
}