body{
	background-color: #f8f8f8;
	margin: 0px;
	margin-bottom:-5px;
}

#background { 
	background-color: #f8f8f8;
	height: auto;  
	margin: 0 auto; 
    width: 100%;
    min-width: 965px; 
    max-width: 1440px; 
    position: relative; 
    
    
}