<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Peter Quinn | Templated Sites </title>
    <link rel="stylesheet" type="text/css" href="CSS/navigation.css" />
	<link rel="stylesheet" type="text/css" href="CSS/header.css" />
    <link rel="stylesheet" type="text/css" href="CSS/images.css" />
    <link rel="stylesheet" type="text/css" href="CSS/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/slick/slick-theme.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    
</head>
  
<body>
    
    <div class='header'>
    <h2>TEMPLATED SITES</h2>
    <div class='clear'></div>
    <div class='blur'></div>    
    </div>
          
    <div class="white" id="tall" style="height: 960px;">
    <div class="images"><video width="850" style="margin-top: -15px; margin-bottom: -20px;" autoplay loop muted><source src="Images/templates-before.mp4" type="video/mp4"></video></div>
    <div class="text">    
    <h2>BEFORE: LEVELING THE FIELD</h2>
    <hr>
    <p>For many of our individual dealerships, site design and functionality was all over the map. Since these were not the manufacturers that we had the high-dollar relationships with, it was not optimal to be spending so much time maintaining all of these different, bespoke sites. Thus we began the project of creating a single site template that could be used for many brands so that editing and maintaining sites could be done faster, on a larger scale.</p>    
    </div>
    </div>    
    
    <div class="grey" id="tall" style="height: 1085px;">
    <div class="images"><img src="Images/templates-styleguide.png"></div> 
    <div class="text">    
    <h2>MAKING IT VARIABLE</h2>
    <hr>
    <p>I designed a universal template site, solving the maintenance issue, but because the sites were now all the same structure, they needed differentiation between the brands. I worked with the development team to create a series of useful variables that could be changed between brands to differentiate the sites, while still keeping the structure the same. I created a style guide that organized them so that I only needed to hand off a list of variables, rather than a complete design comp, making standing up the many brands much faster.</p>    
    </div>
    </div>
    
    <div class="last">
    <div class="images">
    <a href="https://xd.adobe.com/view/b5d522fa-977c-4c77-ae40-8871dead44cd/?fullscreen"><video width="851" style="margin-top: -15px; margin-bottom: -45px;" autoplay loop muted><source src="Images/templates-after.mp4" type="video/mp4"></video></a></div>
    <div class="text">    
    <h2>AFTER: DESIGNING FOR THE MASSES</h2>
    <hr>
    <p>Working with the development team and creating the variable system for the templates allowed the setup for dozens of brands across hundreds of sites to go much quicker this time around. And because the structure and design system is uniform across the sites, maintenance will be much easier going forward, which will save time and allow us to focus on larger, more pressing projects.</p>    
    </div>
    </div>

    <nav class="navigation" id="navigation">
			<a href="#" class="navigation-trigger"><img src="Images/logo-dark.png" style="width:75px;"></a>
            <!-- <div class="arrow-scroll animated2 fadeIn">
    	    <img src="home/Images/arrow-scroll.png"/>
    	    </div>
            <div class="arrow-menu animated2 fadeIn">
    	    <img src="home/Images/arrow-menu.png"/>
    	    </div> -->
			<ul>
				<div class="menu-main">
				<li class="one" style="padding: 0px 0px;" ><a href="../../index.html#aboutme" >About Me</a></li>
                <li class="two" style="padding: 0px 0px;" ><a href="../../index.html#contact" >Contact</a></li>
				<li class="three" style="padding: 0px 0px;" ><a href="../../portfolio/index.html" >Portfolio</a></li>
				<li class="four" style="padding: 0px 0px;" ><a href="../../peterquinn-resume.pdf" target="_blank">Resume</a></li>
				</div>
			</ul>
	</nav>   
    
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="CSS/slick/slick.min.js"></script>
				
    
<script type="text/javascript">
    $(document).ready(function(){
      $('.slideshow').slick({
        dots: true,
        infinite: true,
        speed: 600,
        slidesToShow: 1,
        fade: true,
        arrows: true,
        adaptiveHeight: true
});
    });
</script>     
    
</body>
    
<script src="Scripts/navigation.js"></script>
<script src="Scripts/classie.js"></script>
<script src="Scripts/background.js"></script>			
    
</html>
