@font-face {
    font-family: Norwester;
    src: url(Fonts/norwester.otf);
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/** BAR BEFORE**/

.navigation {
	position: fixed;
	top: 0px;
    bottom: 0px;
	width: 100%;
	height: 0px;
    border-style: solid;
    border-width: 0px 0px 70px 0px;
	border-color: rgba(255,255,255,0.5);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, border-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, border-color 0.3s, height 0s 0.3s;
	z-index: 1000;
}

.navigation:hover {
    border-color: rgba(255,255,255,0.8); 
}

/** BAR AFTER**/

.navigation.navigation-open {
	border-width: 0px 0px 70px 0px;
    border-color: rgba(255,255,255,0.8);
	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
}

.navigation-open .nav-overlay {
	height: 100%;
}

.navigation-trigger {
	position: fixed;
	left: 50%;
    margin-left: -37px;
    top: 10px;
	z-index: 100;
	display: block;
	cursor: pointer;
	opacity: 1;
    background-size: 75px;
	
}

.navigation-trigger span {
	position: absolute;
	top: 50%;
	left: 0px;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navigation-open .navigation-trigger span {
	background-color: #5a8acb;
}

.navigation-trigger span:before,
.navigation-trigger span:after {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}


.navigation-trigger span:before {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.navigation-trigger span:after {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.navigation-open .navigation-trigger span:before,
.navigation-open .navigation-trigger span:after {
	background-color: #5a8acb;
}

.navigation-open .navigation-trigger span:before {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.navigation-open .navigation-trigger span:after {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}


.navigation ul {
	position: fixed;
	top: 0px;
	left: -60px;
	width: 100%;
	list-style: none;
	text-align: center;
	white-space: nowrap;
	height: 0;
	-webkit-transition: height 0s 0.3s;
	transition: height 0s 0.3s;
}

.navigation.navigation-open ul {
	height: 40px;
	-webkit-transition: none;
	transition: none;
}

.navigation ul li,
.navigation ul li a {
	text-align: left;
}

/***** ONE *****/

.one {
	display: inline-block;
	margin: 0px 5%;
	width: 5%;
	height: 40px;
	line-height: 40px;
    opacity: 0;
	visibility: hidden;
}

.navigation-open .one {
	opacity: 1;
    visibility: visible;
	animation: open1 0.3s 0.0s forwards ease-out;
}

.navigation-close .one {
	opacity: 0;
    visibility: hidden;
    animation: close1 0.3s forwards ease-out;
}

@keyframes open1 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(-60px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
}

@keyframes close1 {
    0% {
        transform: translate3d(-60px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
    50% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(60px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
}

/***** TWO *****/

.two {
	display: inline-block;
	margin: 0px 5%;
	width: 5%;
	height: 40px;
	line-height: 40px;
    opacity: 0;
	visibility: hidden;
}

.navigation-open .two {
	opacity: 1;
    visibility: visible;
	animation: open2 0.3s forwards ease-out;
}

.navigation-close .two {
	opacity: 0;
    visibility: hidden;
    animation: close2 0.3s forwards ease-out;
}

@keyframes open2 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(-50px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
}

@keyframes close2 {
    0% {
        transform: translate3d(-50px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
    50% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(50px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
}

/***** THREE *****/

.three {
	display: inline-block;
	margin: 0px 5%;
	width: 5%;
	height: 40px;
	line-height: 40px;
    opacity: 0;
	visibility: hidden;
}

.navigation-open .three {
	opacity: 1;
    visibility: visible;
	animation: open3 0.3s forwards ease-out;
}

.navigation-close .three {
	opacity: 0;
    visibility: hidden;
    animation: close3 0.3s forwards ease-out;
}

@keyframes open3 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(65px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
}

@keyframes close3 {
    0% {
        transform: translate3d(65px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
    50% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(-65px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
}

/***** FOUR *****/

.four {
	display: inline-block;
	margin: 0px 5%;
	width: 5%;
	height: 40px;
	line-height: 40px;
    opacity: 0;
	visibility: hidden;
}

.navigation-open .four {
	opacity: 1;
    visibility: visible;
	animation: open4 0.3s 0.0s forwards ease-out;
}

.navigation-close .four {
	opacity: 0;
    visibility: hidden;
    animation: close4 0.3s forwards ease-out;
}

@keyframes open4 {
    0% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(80px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
}

@keyframes close4 {
    0% {
        transform: translate3d(80px, 0px, 0px);
        opacity: 1; visibility: visible;
    }
    50% {
        transform: translate3d(0px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
    100% {
        transform: translate3d(-80px, 0px, 0px);
        opacity: 0; visibility: hidden;
    }
}

/************/

.navigation ul li a {
	display: block;
	color: #262626;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.15em;
	font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.navigation ul li a:before {
	display: none;
	font-size: 32px;
	
}

.navigation ul li a:hover,
.navigation ul li a:focus {
	color: #888;
}

.menu-main{
width: 800px;
margin: 0 auto;
font-size: 13px;
}