<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Peter Quinn | Templates & Guides </title>
    <link rel="stylesheet" type="text/css" href="CSS/navigation.css" />
	<link rel="stylesheet" type="text/css" href="CSS/header.css" />
    <link rel="stylesheet" type="text/css" href="CSS/content.css" />
    <link rel="stylesheet" type="text/css" href="CSS/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/slick/slick-theme.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="../../home/Favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../home/Favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../home/Favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../home/Favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../home/Favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../home/Favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../home/Favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../home/Favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../home/Favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../home/Favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../home/Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../home/Favicons/favicon-96x96.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap" rel="stylesheet">
</head>

<body>

    <div class='border'></div>
    <div class='border-bottom'></div>
    <div class='background'></div>

    <div class='header'>
    <h2>TEMPLATES & GUIDES</h2>
    <h3>Work Projects</h3>
    </div>

    <div class="light" style="height: 35.5vw;">
    <div class="images">
    <video width="100%" autoplay loop muted><source src="Images/templates-1.mp4" type="video/mp4"></video></div>
    <div class="text">
    <h2>Templates Before: High Maintenance</h2>
    <h3>Project Role: None</h3>
    <hr>
    <p>When it first began, SimplePart started out selling its platform to individual dealerships, each of which would get their own custom design. As the company grew, strategy shifted from onboarding individual dealers, to partnering with national OEMs. When focus started shifting to our “program” dealers, who all shared similar designs made for that specific program, maintaining dozens of custom designs for legacy dealers became a challenge. So, in order to help make maintenance easier, we launched an effort to templatize our non-program sites.</p>
    </div>
    </div>

    <div class="dark">
    <div class="text">
    <h2>Templates: Defining the Variables</h2>
    <h3>Project Role: Director & Designer</h3>
    <hr>
    <p>The general idea behind the templates was that they would all share a custom design and code base, making rolling out platform changes much more painless, since changing the code at the template level would cascade down to all of the dealers on the template. However, we still wanted to differentiate the sites and keep them as on-brand as reasonably possible, so I laid out a list of variables that would be defined for each site to make them unique, while still keeping them consistent.</p>
    </div>
    <div class="images">
    <img src="Images/templates-2a.jpg" style="width: 65%; margin-right: 35%;">
    <img src="Images/templates-2b.jpg" style="width: 65%; margin-left: 35%; margin-top: -35.5%; margin-right: 32%;"></div>
    </div>

    <div class="light" style="height: 39vw;">
    <div class="images">
    <video width="100%" autoplay loop muted><source src="Images/templates-3.mp4" type="video/mp4"></video></div>
    <div class="text">
    <h2>Templates After: Consistent & Maintainable</h2>
    <h3>Project Role: Director & Designer</h3>
    <hr>
    <p>After designing the parent template layout and defining the variables for each of our brands, development applied the templates to each of the outdated sites, drastically cutting down on future maintenance and easing rollout of new features. Many platform changes have rolled out since this project was completed, saving time on everything from simple styling improvements to major code refactoring.</p>
    </div>
    </div>

    <div class="dark">
    <div class="text">
    <h2>Control Panel Style Guide</h2>
    <h3>Project Role: Director & Designer</h3>
    <hr>
    <p>Our dealer-facing control panel has been been continually evolving since the early days of the company, however over time the styling has stayed much the same. As a part of the effort to modernize the styling, I took a higher-level approach like we did for the dealer template exercise; I created a style guide for all the various UI elements, containers, colors, and more for the control panel. This could then be referenced as we went through and updated individual pages.</p>
    </div>
    <div class="images">
    <img src="Images/templates-4a.jpg" style="width: 65%; margin-right: 35%;">
    <img src="Images/templates-4b.jpg" style="width: 65%; margin-left: 35%; margin-top: -35.5%; margin-right: 32%;"></div>
    </div>

    <div class="light">
    <div class="images">
    <img src="Images/templates-5a.jpg" style="width: 65%; margin-right: 35%;">
    <img src="Images/templates-5b.jpg" style="width: 65%; margin-left: 35%; margin-top: -21%; margin-right: 32%;"></div>
    <div class="text">
    <h2>SimplePart Branding Guide</h2>
    <h3>Project Role: Director</h3>
    <hr>
    <p>When we rebranded SimplePart as a part of the redesign of SP.com in 2018, we wanted to create a branding guide that we could distribute internally so that other teams that created presentations, reports, and more could have a guide to reference and use. The guide includes everyting from fonts and colors to logos and letterhead templates, and has helped keep our teams keep branding more consistent over the years.</p>
    </div>
    </div>

    <nav class="navigation" id="navigation" >

        <div class="navigation-expanded">
            <a href="../../index.html" class="logo"><img src="Images/logo-dark.png" style="width:55px;"></a>
            <ul>
				<div class="link-list">

                <li class="four"><a href="../../index.html#contact">Contact</a></li>
                <li class="three"><a href="../../peterquinn-resume.pdf" target="_blank">Resume</a></li>
                <li class="two"><a href="../../portfolio/index.html" >Portfolio</a></li>
                <li class="one"><a href="../../index.html#aboutme" >About Me</a></li>
				</div>
			</ul>
        </div>

	</nav>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="CSS/slick/slick.min.js"></script>


<script type="text/javascript">
    $(document).ready(function(){
      $('.slideshow').slick({
        dots: true,
        infinite: true,
        speed: 600,
        slidesToShow: 1,
        fade: true,
        arrows: true,
        adaptiveHeight: true
});
    });
</script>

</body>

<script src="Scripts/navigation.js"></script>

</html>
