.aboutme {
    height: 570px;
    background-color:rgba(255, 255, 255, 0.1);
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 80px;
    border-radius: 3px;
}

.aboutme img {
    position: relative; 
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 320px;
}

.text {
    position: relative; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

.text h2 {
	position: relative;
	display: block;
    text-align: center;
	font-size: 2.0em;
	font-family: 'Norwester', Arial, sans-serif;
	color: #fff; 
    margin-bottom: 15px;
}

.text p {
	position: relative;
	display: block; 
	text-align: center;
	font-size: 1.2em;
	font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
	color: #fff;
    margin-top: 0px;
}

.text hr {
    width:75px; 
    opacity: 1; 
    height: 2px;
    border: none;
    background-color: #fff;
    margin-bottom: 12px;
}