.skillset {
    height: 800px;
    padding-top: 100px;
}

.skillset img {
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.circle-container {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.red {
    position: absolute;
    background-color:rgba(220, 64, 64, 0.6);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin-left: -15px;
    margin-top: 45px;
    text-align: center;
    line-height: 110px;
    z-index: 15;
}

.orange {
    position: absolute;
    background-color:rgba(228, 118, 53, 0.6);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin-left: 60px;
    margin-top: 90px;
    text-align: center;
    line-height: 110px;
    z-index: 14;
}

.yellow {
    position: absolute;
    background-color:rgba(245, 219, 42, 0.6);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin-left: 60px;
    margin-top: 175px;
    text-align: center;
    line-height: 110px;
    z-index: 13;
}

.green {
    position: absolute;
    background-color:rgba(58, 216, 58, 0.6);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin-left: -15px;
    margin-top: 220px;
    text-align: center;
    line-height: 110px;
    z-index: 12;
}

.blue {
    position: absolute;
    background-color:rgba(57, 139, 215, 0.6);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin-left: -90px;
    margin-top: 175px;
    text-align: center;
    line-height: 110px;
    z-index: 11;
}

.purple {
    position: absolute;
    background-color:rgba(177, 63, 194, 0.6);
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin-left: -90px;
    margin-top: 90px;
    text-align: center;
    line-height: 110px;
    z-index: 10;
}

span {
  font-size: 1.0em;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: 15px;      
}