@font-face {
    font-family: Norwester;
    src: url(home/Fonts/norwester.otf);
}

html, body, {
	margin: 0;
	padding: 0;
	border: 0;
}


.background {
	 background: url(../Images/bg.jpg);
	 background-attachment: scroll;
     background-size: cover;
	 height: 760px; 
     width: 100%; 
     max-width: 2560px;
     position: relative; 
     margin-bottom: -7px;
}

.title-top h2 {
	position: relative;
	display: block;
    padding-top: 290px;
	font-size: 5.1em;
	font-family: 'Norwester', Arial, sans-serif;
	letter-spacing: 0px;
	color: #fff; 
	top: 0px;
	text-align: center;
	margin-left: auto;
  	margin-bottom: auto;
  	margin-top: -11px;
}

.title-bottom h2 {
	position: relative;
	display: block;
	font-size: 2.2em;
	font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
	letter-spacing: 3px;
	color: #fff; 
	top: 0px;
	text-align: center;
	margin-left: auto;
  	margin-bottom: auto;
  	margin-top: 5px;
  	padding-left: 3px;
}

hr {
   position: relative;
   border: solid #fff;
   border-width: 1px;
   opacity: 0;
   width: 0px;
   margin-top: 0px;
   margin-left: auto;
   margin-bottom: auto;
   z-index: 10;
}

 .line {
    -webkit-animation: lineexpand 1.8s;
    animation: lineexpand 1.8s;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes lineexpand {
    from {width: 0px; opacity: 0;}
    to {width: 415px; opacity: 1;}
}

@keyframes lineexpand {
    from {width: 0px; opacity: 0;}
    to {width: 415px; opacity: 1;}
} 

/*******************/

.animated {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 12px, 0);
            transform: translate3d(0, 12px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 12px, 0);
            transform: translate3d(0, 12px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -12px, 0);
            transform: translate3d(0, -12px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -12px, 0);
            transform: translate3d(0, -12px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/*******************/