html, body {
margin: 0px; padding:0; font-size:100%; line-height:1;
background: url(../Images/bg7.jpg);
background-size: 100%;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'lato';
}

.content {
	 height: 932px; 
     width: 100%; 
     min-width: 1165px;
     max-width: 2560px;
     position: relative;
     margin: 5px;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 0em 5em;
	max-width: 100%;
	list-style: none;
	text-align: center;
	margin-top: 0px;
}

/* Common style */
.grid figure {
	position: relative;
	display: inline-block;
	overflow: hidden;
	
	margin: 2px;
	
	min-width: 18.3%;
	max-width: 24.3%;
	height: 20%;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    
    -moz-box-shadow:    0 0px 8px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0 0px 8px rgba(0,0,0,0.35);
    box-shadow:         0 0px 8px rgba(0,0,0,0.35);
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 23%;
	max-width: 100%;
	opacity: 0.7;
}

.grid figure figcaption {
	padding: 57.5% 0px 0px 0px;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: 'lato';
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: -45px;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------------*/
/***** Ruby ORANGE *****/
/*---------------------*/

figure.effect-ruby {
	background-color: #000;
}

figure.effect-ruby img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-ruby figcaption::before,
{
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby:hover figcaption::before, i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby figcaption::before, h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
	background: #f4b04f;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

/*---------------------*/
/***** Ruby BLUE  ******/
/*---------------------*/

figure.effect-ruby2 {
	background-color: #000;
}

figure.effect-ruby2 img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby2:hover img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby2 h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby2 p {
	margin: 1em 0 0;
	padding: 3em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby2:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby2:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-ruby2 figcaption::before,
{
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby2:hover figcaption::before, i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby2 figcaption::before, h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby2 figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
	background: #5a8acb;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

/*---------------------*/
/***** Ruby GREEN ******/
/*---------------------*/

figure.effect-ruby3 {
	background-color: #000;
}

figure.effect-ruby3 img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby3:hover img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby3 h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby3 p {
	margin: 1em 0 0;
	padding: 3em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby3:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby3:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-ruby3 figcaption::before,
{
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby3:hover figcaption::before, i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby3 figcaption::before, h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby3 figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
	background: #e76965;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

/*---------------------*/
/***** Ruby BLUE  ******/
/*---------------------*/

figure.effect-ruby4 {
	background-color: #000;
}

figure.effect-ruby4 img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby4:hover img {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby4 h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby4 p {
	margin: 1em 0 0;
	padding: 3em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby4:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby4:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-ruby4 figcaption::before,
{
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby4:hover figcaption::before, i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby4 figcaption::before, h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ruby4 figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
	background: #20a45d;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}
