<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Peter Quinn | Components </title>
    <link rel="stylesheet" type="text/css" href="CSS/navigation.css" />
	<link rel="stylesheet" type="text/css" href="CSS/header.css" />
    <link rel="stylesheet" type="text/css" href="CSS/content.css" />
    <link rel="stylesheet" type="text/css" href="CSS/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="CSS/slick/slick-theme.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="../../home/Favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../home/Favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../home/Favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../home/Favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../home/Favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../home/Favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../home/Favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../home/Favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../home/Favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../home/Favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../home/Favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../home/Favicons/favicon-96x96.png">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap" rel="stylesheet">
</head>

<body>

    <div class='border'></div>
    <div class='border-bottom'></div>
    <div class='background'></div>

    <div class='header'>
    <h2>COMPONENTS</h2>
    <h3>Work Projects</h3>
    </div>

    <div class="light" style="height: 35.5vw;">
    <div class="images">
    <img src="Images/components-1.png" style="border-radius: 0px;"></div>
    <div class="text">
    <h2>Price Box</h2>
    <h3>Project Role: Director & Designer</h3>
    <hr>
    <p>Since SimplePart's platform contains millions of products across thousands of sites, with billions of page views each year, each component that we design needs to be fully modular, responsive, and inherit styling from whatever site it lives on. The price box on the product page is one of the first components I redesigned as a part of an effort to componentize each element on our platform, containing flexible elements like fulfillment option slots, stock and warranty information, and reviews, all of which can populate in any combination depending on what data needs to return.</p>
    </div>
    </div>

    <div class="dark" style="height: 36vw;">
    <div class="text">
    <h2>Product Information Tabs</h2>
    <h3>Project Role: Director & Designer</h3>
    <hr>
    <p>As we added more and more functionality to the product page over the years, what started out as a small set of horizontal tabs to display supplemental information quickly became more and more crowded. As such, I redesgined the container to be able to support this information in a more modular, responsive layout. Each tab was redesigned in a more consistent manner based on the data that would populate within, so that tabs that functioned similarly had a similar look and feel, all allowing any supplemental information to be displayed in a clean, readable manner.</p>
    </div>
    <div class="images">
    <img src="Images/components-2.png" style="border-radius: 0px;"></div>
    </div>

    <div class="light" style="height: 39vw;">
    <div class="images">
    <img src="Images/components-3.jpg"></div>
    <div class="text">
    <h2>Dealer Finder</h2>
    <h3>Project Role: Director</h3>
    <hr>
    <p>This component initially arose as part of implementing the ability to check out on our parent-level sites, as traditionally dealer sites were the only sites on our platform that had e-commerce enabled. The widget was designed to appear on any page, and present the nearest dealers that can fulfill the order to the user based on geolocation. To help users find alternate dealers that may have different business offerings to fit their needs, there are multiple slots for payment and fulfillment options, ratings, and more, in case the user wishes to override the local dealer.</p>
    </div>
    </div>

    <div class="dark" style="height: 35.5vw;">
    <div class="text">
    <h2>Guided Navigation</h2>
    <h3>Project Role: Director & Designer</h3>
    <hr>
    <p>Guided Navigation, as it became known, was essentially proposed as an effort to reduce bounce rate for users that landed on our product pages with incomplete fitment, and it succeeded in doing so. It provides the ability to confirm or deny fitment of the part they're looking at based on their vehicle, as well as recommend alternate products if the part is not what they are looking for. It needed to be eye catching, and help "guide" the user to the parts they were initially searching for, hence the name.</p>
    </div>
    <div class="images">
    <img src="Images/components-4.png" style="border-radius: 0px;"></div>
    </div>

    <nav class="navigation" id="navigation" >

        <div class="navigation-expanded">
            <a href="../../index.html" class="logo"><img src="Images/logo-dark.png" style="width:55px;"></a>
            <ul>
				<div class="link-list">

                <li class="four"><a href="../../index.html#contact">Contact</a></li>
                <li class="three"><a href="../../peterquinn-resume.pdf" target="_blank">Resume</a></li>
                <li class="two"><a href="../../portfolio/index.html" >Portfolio</a></li>
                <li class="one"><a href="../../index.html#aboutme" >About Me</a></li>
				</div>
			</ul>
        </div>

	</nav>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="CSS/slick/slick.min.js"></script>

</body>

<script src="Scripts/navigation.js"></script>

</html>
