html, body, {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
    background-color: #333;
}

.header {
    height: 13.5vw;
    padding-top: 4%;
    display: flex;
		flex-direction: column;
    z-index: -1;
    background-image: url(../Images/header-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
		box-shadow: inset 0px 0px 40px rgba(0,0,0,0.15);
}

.header img {
    width: 15vw;
    margin-right: 5%;
}

.header h2 {
    width: 95%;
    margin: 4.2% 0% 0% 5%;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 3.0em;
    font-weight: 800;
    color: #fff;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.header h3 {
    width: 95%;
    margin: -0.8% 0% 0% 5%;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 1.0em;
    font-weight: 800;
    color: rgba(255,255,255,0.65);
    text-align: left;
		text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

/** @media only screen
and (max-device-width : 1380px)
and (orientation : landscape) {
.header {
    height: 17vw;
		padding-top: 7.8%;
    background-size: contain;
}
} **/

@media only screen
and (min-width: 2000px) {
.header {
    height: 11vw;
		padding-top: 1.8%;
}
.header h2 {
    font-size: 3.2em;
}
.header h3 {
    font-size: 1.2em;
}
}

@media only screen
and (max-width: 1400px) {
.header {
    height: 15vw;
		padding-top: 6.2%;
}
.header h2 {
    font-size: 2.6em;
}
.header h3 {
    font-size: 0.9em;
}
}

@media only screen
and (max-width: 1050px) {
.header {
    height: 16vw;
		padding-top: 8.3%;
}
.header h2 {
    font-size: 2.2em;
}
.header h3 {
    font-size: 0.8em;
}
}
